
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px;
    background: rgb(32, 32, 32);  
    color: aqua;  
}

h1 {
    background: aqua;
    font-size: 50px;
    color: rgb(32, 32, 32);
    
    
}

.main-header nav {
    display: flex;
}

.main-header nav ul {
    text-align: right;
}

.main-header li {
    display: inline-flex;
}

.main-header nav a {
    color: aqua;
    padding: 20px 20px;
    text-decoration: underline;
}

h2 {
    float: right;
    background: aqua;
    color: rgb(32, 32, 32);
    width: 20%;
    margin: 0%;
    text-align: right;
    font-size: 29px;
    padding-right: 15px;
}

.subtitle {
    background:
  linear-gradient(135deg, #022657 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #022657 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #022657 25%, transparent 25%),
  linear-gradient(45deg, #022657 25%, transparent 25%);
background-size: 100px 100px;
background-color: #6da7ff;
    color: rgb(32, 32, 32);
    padding: 70px;
    height: 20%;
}

main {
    color: rgb(57, 48, 110);
    background: #cff6fd;
    padding-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.side-content {
    border-right: darkblue solid 2px;
    padding: 20px;
    font-size: 30px;
    width: 20%;
    text-align: right;
}

.main-content {
    padding: 20px 20px 0 20px;
    font-size: 25px;
    width: 80%;
}



.big-pic img {
    width: 100%;
    height: auto;
    border: aqua solid 5px;
  } 

.photo-title {
    position: absolute;
    /* top: 50px;
    left: 0; */
    background-color: aqua;
    padding: 10px 10px;
 }

#bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.small-pic img {
    width:100%;
    height: auto;   
    border: aqua solid 5px;
}

.small-pic {
    width:100%;
    height: auto;  
}

#middle-img {
    margin: 0 15px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    
}

.footer-main-content {
    padding: 20px 20px 0 20px;
    width: 80%;
    font-size: 35px;
    
}

.footer-main-content a {
    background-color: rgb(57, 48, 110);
    color: aqua;
}
    


@media screen and (max-width: 802px) {
    h2 {
        width: 150px;
    }
}

@media screen and (max-width: 720px) {
     h3 {
        position: absolute;
        margin-left: 5px;
        margin-top: -25px;
    }

    .row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .side-content {
        border:0;
        margin-left: 200px;
        
    }

    img {
        flex-wrap: wrap;
        flex-direction: column;
    }
}




  
 

        
